@model System.Security.Claims.ClaimsPrincipal

 @if (!Model.Identity!.IsAuthenticated)
 {
     <li class="nav-item"><a class="nav-link js-scroll-trigger" data-bss-hover-animate="pulse" id="login" style="color: #000000;" href="#">Login</a></li>
     <li class="nav-item"><a class="nav-link js-scroll-trigger" data-bss-hover-animate="pulse" id="sign-up" style="color: #000000;" href="#">Sign Up</a></li>
 }
 else
 {
     <li class="nav-item"><a class="nav-link js-scroll-trigger" data-bss-hover-animate="pulse" id="login" style="color: #000000;" href="#">Account</a></li>
     <li class="nav-item"><a class="nav-link js-scroll-trigger" data-bss-hover-animate="pulse" id="login" style="color: #000000;" href="#">
         @{ var money = User.Claims!.FirstOrDefault(c => c.Type == "Money")?.Value ?? "0";}
        $@money
     </a></li>
 }
