@using System.Text.Json
@using HackVH.Models.ViewModels
@model string
@{
    var result = JsonSerializer.Deserialize<ResultViewModel>(Model);
}

<style>
    #result {
    width: 100%;
    height: 50px;
    @{ var color = result!.Succeeded ? "green" : "yellow"; }
    justify-content: center;
    align-items: center;
    background-color: @color;
}
</style>
<div id="result" class="d-flex text-black-50">
    @result.Response
</div>

