@media (max-width: 360px) {
  strong {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  strong {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .btn.btn-primary.btn-xl.js-scroll-trigger {
    width: 300px;
    height: 60px;
    font-size: 16px;
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  .btn.btn-primary.btn-xl.js-scroll-trigger {
    width: 200px;
    height: 40px;
    font-size: 12px;
    padding-top: 9px;
  }
}

@media (min-width: 768px) {
  .btn.btn-xl.js-scroll-trigger {
    width: 300px;
    height: 60px;
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  .btn.btn-xl.js-scroll-trigger {
    width: 200px;
    height: 50px;
    padding-top: 10px;
  }
}

