@using Microsoft.Extensions.Configuration
@model RegisterViewModel
@inject IConfiguration _configuration

@section Meta {
    <meta name="google-api-key" content=@_configuration["Google:ApiKey"]>
    <meta name="google-client-id" content=@_configuration["Google:ClientId"]>
}

<body>
<div class="container">
    
    <form id="external" asp-action="ExternalLogin" method="post">
        <div class="form-group">
            <input id="token-input" asp-for="ExternalLogin.Token" type="hidden">
            <button type="button" id="google-login" class="btn btn-primary">Sign in with Google</button>
        </div>
    </form>

    <form method="post">
        <div class="form-group">
            <label asp-for="User.Email"></label>
            <input asp-for="User.Email">
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Password"></label>
            <input asp-for="User.Password">
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <div asp-validation-summary="All"></div>
        </div>
    </form>
</div>
</body>

@section Scripts
{
    <script src="~/js/google-login.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=HandleGoogleApiLibrary" async defer></script>
}