# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.HackVH.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tymur\RiderProjects\HackVH\.idea\.idea.HackVH\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
