@model VideoSearchViewModel

@{
}
<body>
<div>
      <form class="d-flex flex-grow-1 justify-content-evenly" asp-action="Search" method="post">
            <div class="form-group">
                  <label asp-for="@Model.Search.SearchString"></label>
                  <input asp-for="@Model.Search.SearchString">
                  <span asp-validation-for="Search.SearchString"></span>
            </div>
            <div class="form-group">
            <button class="btn btn-primary" type="submit">Search</button>
            </div>
      </form>
      @foreach (var video in Model.Results)
      {
            if (video == null) continue;
            <a asp-action="Video" asp-route-id="@video.Id">@video.Name</a>
      }
</div>
</body>